<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <focus_licensing>
            <general>
                <cache_ttl>90000</cache_ttl>
            </general>
        </focus_licensing>
    </default>
</config>
