<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Webapi\Controller\Rest\Router">
        <plugin name="focus_licensing_webapi_guard"
                type="Focus\Licensing\Plugin\Enforcement\WebapiRouterGuardPlugin"
                sortOrder="10"/>
    </type>

</config>
